header {
  width: 100%;
  background-color: rgba(28,32,51,0.8); /* kék háttér */
  position: fixed; /* mindig a képernyő tetején */
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 10px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

nav {
  display: flex;
  justify-content: space-between; /* menüpontok a teljes szélességen */
  align-items: center;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.active {
  border: 2px solid #fff;
  background-color: rgba(28,32,51,0.8);
  border-radius: 8px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 12px;
  border-radius: 6px;
  transition: background 0.2s;
}

nav ul li a:hover,
nav ul li a.active {
  background-color: rgba(255,255,255,0.2);
}

.kiemelt {
  border: 2px solid #fff;
  padding: 2px 10px;
  border-radius: 6px;
}

@media (max-width: 720px) {
  nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  nav ul {
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* GAP HEADER ÉS DASHBOARD KÖZÖTT */
.dashboard-container {
  padding-top: 30px; /* a nav és a dobozok közti távolság */
}